<c-row>
    <c-col xs>
        <c-card class="mb-4">
            <c-card-body>
                <c-row class="mb-5 justify-content-md-center">
                    <c-col>
                        <h4 class="card-title mb-0">Product class create</h4>
                    </c-col>
                </c-row>
                <form (ngSubmit)="submit()" [validated]="validate" [formGroup]="productClassCreateForm" cForm
                    class="row g-3 needs-validation">
                    <c-row>
                        <c-col md="6" xs="12">
                            <label cLabel for="name">Name</label>
                            <input autocomplete="off" formControlName="name" id="name" cFormControl required
                                type="text" />
                            <c-form-feedback [valid]="true"></c-form-feedback>
                        </c-col>
                    </c-row>
                    <c-row class="mt-3">
                        <c-col md="6" xs="12">
                            <label cLabel for="state">Required shipping</label>
                            <select (change)="onChangeRequiredShipping($event)" cSelect id="state"
                                formControlName="required_shipping" required>
                                <option value="">Choose ...</option>
                                <option [value]="true">Required shipping</option>
                                <option [value]="false">No required shipping</option>
                            </select>
                        </c-col>
                    </c-row>
                    <c-row class="mt-3">
                        <c-col md="6" xs="12">
                            <label cLabel for="state">Track stock</label>
                            <select (change)="onChangeTrackStock($event)" cSelect id="state"
                                formControlName="track_stock" required>
                                <option value="">Choose ...</option>
                                <option [value]="true">Track stock</option>
                                <option [value]="false">No track stock</option>
                            </select>
                        </c-col>
                    </c-row>
                    <c-row class="mt-4">
                        <c-col md="6">
                            <button cButton class="me-1" color="primary" type="submit">
                                <div *ngIf="!isLoading; else loading">Submit</div>
                                <ng-template #loading>
                                    <app-loader></app-loader>
                                </ng-template>
                            </button>
                        </c-col>
                    </c-row>
                </form>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>