<!-- <c-row>
    <c-col xs>
        <c-card class="mb-4">
            <c-card-body>
                <app-table [dataColumns$]="subscribers$" [tableColumns]="tableColumns"></app-table>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>
 -->

<c-row>
    <c-col xs>
        <c-card class="mb-4">
            <!-- <c-card-header>
                <c-row>
                    <c-col class="d-none d-md-block" sm="5">
                        <h4 class="card-title mb-0">Subscribers</h4>
                    </c-col>
                    <c-col class="d-none d-md-block" sm="7">
                        <span>Subscribers</span>
                    </c-col>
                </c-row>
            </c-card-header> -->
            <c-card-body>
                <c-row class="mb-4 justify-content-md-center">
                    <c-col>
                        <h4 class="card-title mb-0">Subscribers</h4>
                    </c-col>
                    <c-col class="d-none d-md-block">
                        <div class="float-end">
                            <button [routerLink]="['/subscribers/subscribers-create']" cButton color="primary">Add
                                subscriber</button>
                            <span (click)="subscriberFetchData(5, 1)" class="m-3 c-pointer me-1">
                                <svg cIcon class="icon icon-lg me-2" name="cilReload"></svg>
                            </span>
                        </div>
                    </c-col>
                </c-row>
                <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
                    <thead cTableColor="light">
                        <tr>
                            <th>Email</th>
                            <th>Created at</th>
                            <th>Activity</th>
                            <th>Status</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let subscriber of subscribers$ | async">
                            <td>
                                <div>{{subscriber?.email}}</div>
                            </td>
                            <td>
                                <div>{{subscriber?.created_at | date : "M/d/yy, h:mm a"}}</div>
                            </td>
                            <td>
                                <div class="small text-medium-emphasis">Last modified</div>
                                <div>{{subscriber?.modified_at | date : "M/d/yy, h:mm a"}}</div>
                            </td>
                            <td>
                                <div>
                                    <c-badge [color]="subscriber?.status ? 'success' : 'error'">
                                        {{subscriber?.status}}</c-badge>
                                </div>
                            </td>
                            <td class="text-center">
                                <span class="fs-6 fw-normal c-pointer">
                                    <span class="p-0">
                                        <svg cIcon class="icon icon-lg me-2" name="cilTrash"></svg>
                                    </span>
                                </span>
                                <span class="fs-6 fw-normal c-pointer">
                                    <c-dropdown alignment="end" variant="btn-group">
                                        <span [caret]="false" cDropdownToggle class="p-0" color="transparent">
                                            <svg cIcon class="icon icon-lg me-2" name="cilOptions"></svg>
                                        </span>
                                        <ul cDropdownMenu>
                                            <li><a routerLink="./" cDropdownItem>Edit</a></li>
                                            <li><a routerLink="./" cDropdownItem>View detail</a></li>
                                        </ul>
                                    </c-dropdown>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <c-container class="p-0 mt-3">
                    <c-row>
                        <c-col xs="11">
                            <div *ngIf="subscriberCounter$ | async as counter">
                                <c-pagination aria-label="Page navigation">
                                    <c-page-item (click)="navigatePrevious(counter)" aria-label="Previous">
                                        <a cPageLink routerLink="./"><span aria-hidden="true">&laquo;</span></a>
                                    </c-page-item>
                                    <c-page-item *ngFor="let e of createCounter(counter); let i = index;"
                                        [active]="i+1==page">
                                        <a style="cursor: pointer;" cPageLink
                                            (click)="subscriberFetchData(limitOfDocuments, i+1)">{{i+1}}</a>
                                    </c-page-item>
                                    <c-page-item aria-label="Next">
                                        <a cPageLink (click)="navigateNext(counter)"><span
                                                aria-hidden="true">&raquo;</span></a>
                                    </c-page-item>
                                </c-pagination>
                            </div>
                        </c-col>
                        <c-col xs="1">
                            <select aria-label="" (change)="changeValuePage($event)" cSelect class="mb-3 p-2"
                                sizing="lg">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                            </select>
                        </c-col>
                    </c-row>
                </c-container>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>