<c-row>
    <c-col xs>
        <c-card class="mb-4">
            <c-card-body>
                <c-row class="mb-4 justify-content-md-center">
                    <c-col>
                        <h4 class="card-title mb-0">Product class</h4>
                    </c-col>
                    <c-col class="d-none d-md-block">
                        <div class="float-end">
                            <button [routerLink]="['/catalogue/product-class-create']" cButton color="primary">
                                Add product class</button>
                            <span (click)="productClassPaginateList(5, 1)" class="m-3 c-pointer me-1">
                                <svg cIcon class="icon icon-lg me-2" name="cilReload"></svg>
                            </span>
                        </div>
                    </c-col>
                </c-row>
                <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
                    <thead cTableColor="light">
                        <tr>
                            <th>Name</th>
                            <th>Created at</th>
                            <th class="text-center">Require shipping</th>
                            <th class="text-center">Track stock</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div *ngIf="productClass$ | async as productClass">
                            <div *ngIf="productClass.length==0">
                                There is no data to show
                            </div>
                        </div>
                    </tbody>
                    <tbody>
                        <tr *ngFor="let product of productClass$ | async">
                            <td>
                                <div>{{product?.name}}</div>
                            </td>
                            <td>
                                <div>{{product?.created_at | date : "MMMM, d yy, h:mm a"}}</div>
                            </td>
                            <td class="text-center">
                                <span class="p-0">
                                    <svg color="primary" cIcon class="icon icon-lg me-2 text-success"
                                        [name]="product.required_shipping === true ? 'cilCheck' : ''"></svg>
                                </span>
                            </td>
                            <td class="text-center">
                                <span class="p-0">
                                    <svg color="primary" cIcon class="icon icon-lg me-2 text-success"
                                        [name]="product.track_stock === true ? 'cilCheck' : ''"></svg>
                                </span>
                            </td>
                            <td class="text-center">
                                <span class="fs-6 fw-normal c-pointer">
                                    <span class="p-0">
                                        <svg cIcon class="icon icon-lg me-2" name="cilTrash"></svg>
                                    </span>
                                </span>
                                <span class="fs-6 fw-normal c-pointer">
                                    <c-dropdown alignment="end" variant="btn-group">
                                        <span [caret]="false" cDropdownToggle class="p-0" color="transparent">
                                            <svg cIcon class="icon icon-lg me-2" name="cilOptions"></svg>
                                        </span>
                                        <ul cDropdownMenu>
                                            <li><a routerLink="./" cDropdownItem>Edit</a></li>
                                            <li><a routerLink="./" cDropdownItem>View detail</a></li>
                                        </ul>
                                    </c-dropdown>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <c-container class="p-0 mt-3">
                    <c-row>
                        <c-col xs="11">
                            <div *ngIf="categoriesCount$ | async as counter; else paginationEmpty">
                                <c-pagination aria-label="Page navigation">
                                    <c-page-item (click)="navigatePrevious(counter)" aria-label="Previous">
                                        <a cPageLink routerLink="./"><span aria-hidden="true">&laquo;</span></a>
                                    </c-page-item>
                                    <c-page-item *ngFor="let e of createCounter(counter); let i = index;"
                                        [active]="i+1==page">
                                        <a style="cursor: pointer;" cPageLink
                                            (click)="productClassPaginateList(limitOfDocuments, i+1)">{{i+1}}</a>
                                    </c-page-item>
                                    <c-page-item aria-label="Next">
                                        <a cPageLink (click)="navigateNext(counter)"><span
                                                aria-hidden="true">&raquo;</span></a>
                                    </c-page-item>
                                </c-pagination>
                            </div>
                            <ng-template #paginationEmpty>
                                <c-pagination aria-label="Page navigation">
                                    <c-page-item aria-label="Previous">
                                        <a cPageLink><span aria-hidden="true">&laquo;</span></a>
                                    </c-page-item>
                                    <c-page-item aria-label="Next">
                                        <a cPageLink><span aria-hidden="true">&raquo;</span></a>
                                    </c-page-item>
                                </c-pagination>
                            </ng-template>

                        </c-col>
                        <c-col xs="1">
                            <select aria-label="" (change)="changeValuePage($event)" cSelect class="mb-3 p-2"
                                sizing="lg">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                            </select>
                        </c-col>
                    </c-row>
                </c-container>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>